body {
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.left {
  width: 450px;
  margin-top: 70px;
  display: inline-block;   

}

.left img {
  width: 100%;
}

form {
  display: flex;
  width: 300px;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px #ccc;
  flex-direction: column;
  gap: 10px;
}

input[type="text"],   

input[type="password"] {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}

button {
  background-color: #1877f2;
  border-radius: 5px;
  padding: 10px 20px;
  width: 100%;
  color: white;   

  cursor: pointer;
}

a {
  text-decoration: none;
  color: #1877f2;
}

.signup {
  background-color: #42b72a;
  border: none;   

  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  margin-top: 10px;
}